<!DOCTYPE html>
<html lang="en"  ng-app="zjdx_msg">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">

    <title>浙江电信 &middot; 消息平台</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link href="onlineService.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
<!-- Use TaskController -->
<div ng-controller="TasksController">
    <div class="navbar-wrapper">
      <div class="container">

    	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" id="phone" href="#" style="display:none;"><%=phoneNumber%></a>
                  <a class="navbar-brand" href="#">欢迎您&nbsp;&lt;<%=hidedPhoneNumber%>&gt;</a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="http://s.zj189.cn">主页</a></li>
                    <!--
                    <li><a href="#about">关于</a></li>
                    <li><a href="#contact">联系</a></li> 
                    -->
                   </ul><!--navbar-nav-->
    	    </div><!--navbar-collapse -->
    	  </div><!--container-->
    	</div><!--navbar-static-top-->

      </div><!--container-->
    </div><!--navbar-swapper -->


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!--快速导航 暂时不要
      <ol class="carousel-indicators" style="top:60%;">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      -->
      <div class="carousel-inner">
        <div class="item active">
            <!--<img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">-->
            <img ng-src="assets/img/flowBank.jpg"/>
      <!--    <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note:  <code>file://链接链接链接</code> URL, ts.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">跳转abc</a></p>
            </div>
          </div> -->
        </div>
        <div class="item">
            <!--<img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">-->
            <img ng-src="assets/img/advMsg.jpg"/>
      <!--    <div class="container">
            <div class="carousel-caption">
              <h1>标题e.</h1>
              <p>广告词222222.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">跳转mnt</a></p>
            </div>
          </div>  -->
        </div>
        <!--<div class="item">
            <img ng-src="assets/img/christmas.png"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>说什么说什么.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">ddg跳转</a></p>
            </div>
          </div>  
        </div>-->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" style="top:30%;"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" style="top:30%;"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing tooltip-demo">
			<ul class="nav nav-pills">
                <li ng-click="loadMenu('A')" data-toggle="tooltip" title="" data-original-title="未读{{AunreadedCount}} / 总共 {{A.length}}">
			  	<a id="AId" href="" data-toggle="pill">
                    <!--
					<span class="badge pull-right">{{AunreadedCount}} / {{A.length}}</span>
                    <span class="glyphicon glyphicon-send"></span> -->
                    <h4><font style="font-weight:bold;">活动推广</font></h4>
				</a>
			  </li>
			  <li ng-click="loadMenu('B')" data-toggle="tooltip" title="" data-original-title="未读{{BunreadedCount}} / 总共 {{B.length}}">
				<a id="BId" href="" data-toggle="pill">
                    <!--
					<span class="badge pull-right" data-toggle="tooltip" title="" data-original-title="未读/总共 ~~">{{BunreadedCount}} / {{B.length}}</span>
                    <span class="glyphicon glyphicon-leaf"></span> -->
                    <h4><font style="font-weight:bold;">电子账单</font></h4>
				</a>
			  </li>
			  <li class="active" ng-click="loadMenu('N')" data-toggle="tooltip" title="" data-original-title="未读{{NunreadedCount}} / 总共 {{N.length}}">
			  	<a id="MId" href="" data-toggle="pill">
                    <!--
					<span class="badge badge-inverse pull-right">{{NunreadedCount}} / {{N.length}}</span>
                    <span class="glyphicon glyphicon-user"></span> -->
                    <h4><font style="font-weight:bold;">消费通知</font></h4>
				</a>
			  </li>
			</ul>
    <div style="text-align:center;">
         <img id="wait" ng-src="assets/img/wait.jpg" style="width:295px; height:235px; display:none;"/>	
    </div>

	<div class="panel-group" id="accordion">
         <div ng-repeat="task in tasks" class="panel panel-success" style="margin-top:0px;">
            <div class="panel-heading" style="padding-left:10px;padding-right:2px;padding-top:0px;padding-bottom:12px;">
            <span>
                <input id="cbx_{{task.msgCode}}" type="checkbox" ng-click="checkItem(task.msgCode)" ng-model="task.isChecked">
            </span>
            <span ng-click="clickItem(task.msgContent)" data-toggle="collapse" data-parent="#accordion" href="#collapseHashID_{{task.msgContent | composeIdByContent}}" class="collapsed">
            <!-- use ng-src instead src <- GET 404 not found -->
            <img ng-src="assets/img/{{task.thumbnail}}.png" style="width:30px;height:30px;margin-left:20px"/>
            <!--<a>{{task.msgCode}}</a>-->
            <code href="javascript:void(0)" data-toggle="tooltip" title="" data-original-title="">{{task.msgContent | extractContent}}</code>
            <div class="pull-right">
                <div><span href="javascript:void(0)" ng-class="(task.isReaded) ? 'label label-info' : 'label label-warning'">{{task.isReaded | isReadedFilter}}</span></div>
                <div><small>({{task.score | elapsedSoFarFilter}})</small></div>
            </div>
        </span><!--row-->
    </div><!--panel-heading-->

	            <div id="collapseHashID_{{task.msgContent | composeIdByContent}}" class="panel-collapse collapse">
                    <div class="panel-body">
	    	            <div class="list-group">
		    	            <a class="list-group-item">{{task.msgContent | extractOracleFields}}</a>
		                </div>
                    </div>
	            </div><!--panel-collapse-->
         </div><!--panel-success-->
	</div><!--panel-group-->

<br>


    <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <a class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
              <font style="font-weight:bold;font-size:18px">选择</font><span>&nbsp;</span><span class="caret"></span>
          </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="option(1)">
                    <a>
                        <span class="glyphicon glyphicon-eye-close"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>不选</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-click="option(2)">
                    <a>
                        <span class="glyphicon glyphicon-fullscreen"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>全选</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-click="option(3)">
                    <a>
                        <span class="glyphicon glyphicon-transfer"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>反选</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group">
          <a class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
              <font style="font-weight:bold;font-size:18px">标记为</font><span>&nbsp;</span><span class="caret"></span>
          </a>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="option(4)">
                    <a>
                        <span class="glyphicon glyphicon-check"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>已读</span>
                    </a>
                </li>
                
                <li ng-click="option(5)">
                    <a>
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>未读</span>
                    </a>
                </li>
                <li ng-click="option(6)">
                    <a>   
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>全部设为已读</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-click="option(7)">
                    <a>
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>删除</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-click="option(8)">
                    <a>   
                        <span class="glyphicon glyphicon-fire"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span>删除全部</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>  <!-- btn-justified -->

	<ul class="pager">
		<li><a href="" ng-click = 'changePage(-1)'>上一页</a></li>
		<li><a>第&nbsp;{{currentPage}}/{{totalPages}}&nbsp;页</a></li>
		<li><a href="" ng-click = 'changePage(1)'>下一页</a></li>
	</ul>
      <hr class="featurette-divider">

      <!-- FOOTER 
      <footer>
        <p class="pull-right"><a href="http://s.zj189.cn">【浙ICP备12014759号-1】</a></p>
        <p>&copy; China Telecom. Copyright &copy;2013. All rights reserved.</p>
      </footer>
        -->
      
      <div class="foot"><a href="#"><font color="#fff">TOP↑</font></a>&nbsp;|&nbsp;
          <a herf="#" data-toggle="modal" data-target="#myModal"><font color="#fff">意见反馈</font></a>
          <br>【浙ICP备12014759号-1】<br>中国电信版权所有</div>

    </div><!-- /.container marketing-->

    <!--
<div id="onlineService" data-toggle="modal" data-target="#myModal"><a href="javascript:void(0)" seed="csc_kb_router_online"><img style="width:62px; height:77px; display:block;" src="assets/img/onlineService.png"></a></div>
    -->

    <!-- sample modal content -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">请留下您遇到的问题或提出宝贵建议！</h4>
          </div>

          <div class="modal-body">
              <textarea id="advise" style="width: 100%" rows="5" type="text"></textarea> 

          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" ng-click='submitAdvise()'>提交</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>  <!-- End of TasksController -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-1.10.2.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <script src="holder.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="tasks.js"></script>
	<script src="assets/js/angular-toggle-switch.js"></script>
  </body>
  
  <script>
//	$('#myTab a').click(function (e) {
//		e.preventDefault()
//		$(this).tab('show')
//	})

//////////////////////
	$('.tooltip-demo').tooltip({
		selector: "[data-toggle=tooltip]",
		container: "body"
	});
  </script>
  
</html>
