#onlineService{display:inline;position:fixed;_position:absolute;z-index:991;top:88px;right:0}
.foot {color:#fff; background:#08559e; padding:5px; height:71px; overflow:hidden; text-align:center; line-height:23px;}
